// styles/global.scss

body {
    font-family: 'Lato', sans-serif; /* Use 'Helvetica', sans-serif if you prefer */
    margin: 0;
    padding: 0;
    background-color: #f0f0f0; // Optional: add a background color
    color: #333; // Optional: set a default text color
  }
  